/* doiuse-disable */

.todo-component {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  min-height: 40px;
  width: 500px;
  border: 2px solid #777;
  border-radius: 5px;
  background-color: #aaa6;

  &_completed {
    border-color: #0f0;
    background-color: #0a06;
  }

  &__checkbox {
    position: absolute;
    width: 40px;
    height: 80%;
    border-right: 1px solid #777;
    cursor: pointer;

    &::after {
      position: absolute;
      bottom: 45%;
      left: 8px;
      display: block;
      width: 22px;
      height: 8px;
      border-bottom: 3px solid #777;
      border-left: 3px solid #777;
      color: red;
      content: "";
      transform: rotate(-45deg);
    }

    &:hover,
    &_checked {
      &::after {
        border-color: #080;
      }
    }
  }

  &__content {
    overflow: hidden;
    margin: 0 0 0 40px;
    padding: 5px;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    resize: none;

    &_editable {
      outline: none;
      background-color: #aaa6;
      box-shadow: inset 0 0 6px #777;
    }
  }

  &__icons {
    display: flex;
  }

  &__pen {
    margin-right: 10px;
    width: 20px;
  }

  &__trash {
    margin-right: 10px;
    width: 20px;
  }

  &__pen,
  &__trash {
    cursor: pointer;
    fill: #000;

    &:hover,
    &_edited {
      fill: #f00;
    }
  }
}
