.todo-list {
  display: flex;
  flex-direction: column;
  font-size: 20px;

  &__input {
    margin-bottom: 5px;
    padding-left: 10px;
    height: 40px;
    outline: none;
    border: 2px solid #777;
    border-radius: 5px;
  }
}
