.todo-list {
  display: flex;
  flex-direction: column;
  font-size: 20px;

  &__header {
    margin-top: 50px;
    text-align: center;
  }

  &__new-todo {
    display: flex;
    margin-bottom: 10px;
    width: 500px;
  }

  &__input {
    padding-left: 10px;
    width: 100%;
    outline: none;
    border: 2px solid #777;
    border-radius: 5px;
  }

  &__add-todo {
    margin-left: 10px;
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
  }
}
